.div{
    align-items: center;
    align-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;

    background-color: rgb(211, 195, 170);
}

.infoText{
    margin-top: 5vh;
    font-size: larger;
}

.button{

    margin-top: 10vh;
    margin-bottom: 2vh;
    
}

.preview{
    display: flex;
    margin-bottom: 10vh;
}

.img{
    object-fit: contain;
    max-width: 120px;
    max-height: 360px;
    border-style: solid;
    border-color: black;
    border-width: 3px;
}

.checkboxes{
    font-size: large;
    display: flex;
    align-items: start;
    
    flex-direction: column;
}

input[type="checkbox"] {
    cursor: pointer;
}

.radioLabel{
    margin-right: 10px;
}