.popupOverlay{
    position: fixed;
    display: flex;
    z-index: 999;

    overflow-y: auto;
    align-items: flex-start;
    justify-content: center;
    inset: 0;
    overscroll-behavior: contain;
}

.popupElements{
    background: blanchedalmond;

    border-color: black;
    border-style: solid;
    border-width: 3px;
    text-align: center;
    margin: 30vh;
    margin-top: 5vh;
    padding: 5vh;
    width: 100%;
}